services:
  app:
    build: .
    ports:
      - "3000:3000"
      - "9229:9229"
    volumes:
      - .:/app
      - /app/node_modules
    depends_on:
      - db
    command: npx nodemon --inspect=0.0.0.0:9229 index.js -h 0.0.0.0 -p 3000 -c cache
    env_file:
      - .env

  db:
    image: mysql:8.0
    restart: always
    environment:
      MYSQL_DATABASE: inventory_db
      MYSQL_ROOT_PASSWORD: secret_password
    ports:
      - "3306:3306"
    volumes:
      - mysql_data:/var/lib/mysql
      - ./db/init.sql:/docker-entrypoint-initdb.d/init.sql

volumes:
  mysql_data: